h1{
    font-size: 40px;
    font-family: 'Redressed', cursive;
}
body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
.name-highlight{
    color: orange;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
}
.link-buton{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}
.font {
    font-family: 'Roboto Slab', serif;
    font-weight: initial;
}

footer p{
    text-align: center;
}
.high-light{
    
    color: rgb(245, 188, 2);
}
.new-expo{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 70%;
    background-color: white;
    
}
.Experience-area{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
} 
#full-stack{
    border-left: 7px solid rgb(241, 176, 10);
}
#junior{
    border-left: 7px solid rgb(12, 239, 255);
}


    

